body {
    padding: 30px;
    margin: 20px;
    border:black;
    font-family: serif;
    background-color: beige;
}
h1, h2, h3, h4, h5, h6 { font-family: sans-serif; 
    text-align: center;}
ul {
    background-color: chocolate;
    width: 100%;
}
li {
    float:left;
    color:crimson;
    padding: 20px;
    background-color: rgb(178, 130, 10);
}
div {
    margin:20px;
    padding:30px;
    float:left;
    color:lightcoral
}